button {
    width: 3em;
    height: 3em;
    font-size: 1.5em;
    border: none;
    border-radius: 3em;
    margin: 0.3em;
    background-color: white;

}

button:hover {
    cursor: pointer;
}

.wrapper {
    background-color: black;
    border-radius: 1em;
    padding: 1em;

}

.color-button-Operator {
    background-color: lawngreen;
    color: white;
    font-weight: bold;
}

.color-button-num {
    background-color: #403f3f;
    color: white;
    font-weight: bold;
}

.button-Zerro {
    width: 6.5em;
}

.result {
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 1em;
    font-size: 4em;
    height: 1em;
}